.info__link {
  @include font($secondary-font, 14px, 20px, $white-color);

  font-weight: 400;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 14px, 22px, $white-color);
    font-weight: 400;
    line-height: 22px;
  }

  &:hover {
    border-bottom: 1px solid $white-color;
    padding: 0;
    padding-bottom: 5px;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $white-color;
    padding: 5px 10px;
    margin: 0 -10px;
    margin-top: -6px;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.info-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info__list {
  display: flex;
  gap: 20px 35px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px 0 12px;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 392px;
    gap: 30px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    gap: 82px;
  }
}
