.juri__slide {
  position: relative;
  width: 260px;

  &:hover .juri__swiper-slide-content::after {
    transform: scaleY(1);
  }

  &:hover .juri__swiper-overlay {
    transform: scaleY(1);
  }

  &:hover .juri__heading {
    transform: translateY(0);
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible .juri__swiper-slide-content::after {
    transform: scaleY(1);
  }

  &:focus-visible .juri__swiper-overlay {
    transform: scaleY(1);
  }

  &:focus-visible .juri__heading {
    transform: translateY(0);
  }
}

.juri__wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 100px 0;
    position: relative;
  }
}

.juri__title {
  @include font($primary-font, 32px, 32px, $additional-color);

  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  width: 320px;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 54px, 54px, $additional-color);

    font-weight: 600;
    width: 678px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.juri__swiper {
  height: 300px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.juri__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 59px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 55px;
  }
}

.juri__swiper-slide-wrapper {
  z-index: -1;
}

.juri__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.juri__heading {
  @include font($secondary-font, 22px, 22px, $white-color);
  font-weight: 400;

  margin: 0;
  transform: translateY(209px);
  top: 46px;
  max-height: 150px;
  text-align: center;
  display: block;
  min-height: 24px;
  overflow-y: auto;
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.55s cubic-bezier(0.4, 0, 0.4, 1);
  width: 100%;

  &::-webkit-scrollbar {
    width: 8px;
    max-height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
}

.juri__swiper-slide-text {
  @include font($secondary-font, 16px, 16px, #b6bdcc);
  font-weight: 300;
  align-self: flex-start;
  width: 52px;
  margin: 8px 0 0;
  z-index: 2;
}

.juri__swiper-slide-list {
  @include font($secondary-font, 14px, 22px, $white-color);
  font-weight: 400;
  align-self: flex-start;
  display: flex;
  flex-flow: wrap column;
  list-style-type: none;
  gap: 12px;
  padding: 0 50px 0 66px;
  margin: 0;
  z-index: 2;
  position: relative;
  top: -6px;
}

.juri__swiper-slide-item {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $white-color;
    left: -16px;
    border-radius: 50%;
    top: 8px;
  }
}

.juri__content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  transform: scaleY(0);
  height: calc(100% - 69px);
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.55s cubic-bezier(0.4, 0, 0.4, 1);
  padding: 0 0 4px;
}

.juri__swiper-slide-content {
  position: absolute;
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: nowrap column;
  justify-content: flex-end;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 38, 84, 0.89);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.55s cubic-bezier(0.4, 0, 0.4, 1);
  }
}

.juri__swiper-overlay {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  transform: scaleY(0);
  width: 260px;
  height: calc(100% - 69px);
  z-index: 2;
  transform-origin: bottom;
  transition: transform 0.55s cubic-bezier(0.4, 0, 0.4, 1);
  overflow: auto;
  padding: 0 0 4px;

  &::-webkit-scrollbar {
    width: 8px;
    max-height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }
}

.juri__swiper-button {
  top: 50%;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.juri__swiper-button--prev {
  left: -2px;
  transform: rotate(180deg);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -33px;
    right: -6px;
    width: 16px;
    height: 32px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 18px 32px;
    background-color: $additional-color;
    mask-image: url("../../__spritemap#sprite-right-arrow-view");

    @media (min-width: $tablet-width) {
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.juri__swiper-button--next {
  right: 2px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 33px;
    right: 0;
    width: 16px;
    height: 32px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 18px 32px;
    background-color: $additional-color;
    mask-image: url("../../__spritemap#sprite-right-arrow-view");


    @media (min-width: $tablet-width) {
      &::after {
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.juri__button-wrapper {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
     left: 0;
    }

    &--next {
     right: 0;
    }
  }
}

.juri__swiper-container {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1336px;
  }
}
