.main-footer__info {
  padding: 0;

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
    width: 600px;
    margin: 0;
  }
}

.main-footer__container {
  background-color: $footer-color;
  padding: 40px 15px 26px;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
    padding: 45px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1366px;
    padding: 40px 103px;
    gap: 167px;
    justify-content: space-between;
  }
}

.main-footer__logotype {
  width: 100px;

  @media (min-width: $tablet-width) {
    transform: translateY(-2px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(0);
  }
}
